<header>
  <a routerLink="/home">
    <div class="icon">
      <p>🍓 <span class="berry">Berry</span><span class="pop">Pop</span></p>
    </div>
  </a>
    <a routerLink="/identity" routerLinkActive="active-link" >
      <div class="identity">
     <p>Identity</p>
    </div>
    </a>
    <a routerLink="/potential" routerLinkActive="active-link">
    <div class="potential">
      <p>Potential</p>
    </div></a>
    <a routerLink="/contactus" routerLinkActive="active-link">
      <div class="contactus">
        <p>Contact us</p>
      </div></a>
  </header>
  
